page-notes-list {
    .n-note{
        position: absolute;
        transform: translate(490%, 990%);
    }
    .serachbar{
        width: 280px;
    }
    .n-h1{
        position: absolute;
        transform: translate(2%, 85%);
        width: 300px;
    }
}