<!-- Generated template for the NoteListComponent component -->
  <ion-item-sliding>
    <button ion-item (click)="goToNotes(note)">
      <ion-thumbnail item-start>
        <img *ngIf="!note.note_image_url" class="img-note" src="/assets/imgs/logo.jpg">
        <img *ngIf="note.note_image_url"  class="img-note" src="{{ note.note_image_url }}">
      </ion-thumbnail>
      <ion-label class="label" style="color:black">
        <h2>{{note.note_title}}</h2>
        <h5>{{note.note_content}}</h5>
        <h6>
          <ion-datetime *ngIf="!note.updated_at"  displayFormat="YYYY MM DD" [(ngModel)]="note.created_at"></ion-datetime>
          <ion-datetime *ngIf="note.updated_at"  displayFormat="YYYY MM DD" [(ngModel)]="note.updated_at"></ion-datetime>
        </h6>
      </ion-label>
    </button>
    <ion-item-options side="right">
      <button ion-button color="primary" (click)="goToNotes(note)">
        <ion-icon name="create"></ion-icon>
        edit
      </button>
      <button ion-button color="danger" (click)="deleteAlert(note)">
        <ion-icon name="trash"></ion-icon>
        delete
      </button>
    </ion-item-options>
  </ion-item-sliding>
