<!-- Generated template for the NoteListComponent component -->
  <ion-item-sliding>
    <button ion-item (click)="goToNotes(note)">
      <ion-thumbnail item-start>
        <img *ngIf="!note.note_image_url" class="img-note" src="/assets/imgs/logo.jpg">
        <img *ngIf="note.note_image_url"  class="img-note" src="{{ note.note_image_url }}">
      </ion-thumbnail>
      <ion-label class="label">
        {{note.note_title}}
        <h5>{{note.note_content}}</h5>
        <h6>
          Created at:
          <ion-datetime displayFormat="YYYY MM DD, HH:mm" [(ngModel)]="note.created_at"></ion-datetime>
        </h6>
      </ion-label>
    </button>
    <ion-item-options side="right">
      <button ion-button color="primary" (click)="goToNotes(note)">
        <ion-icon name="create"></ion-icon>
        edit
      </button>
      <button ion-button color="danger" (click)="deleteAlert(note)">
        <ion-icon name="trash"></ion-icon>
        delete
      </button>
    </ion-item-options>
  </ion-item-sliding>
