<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!newNote" >{{note.note_title}}</ion-title>
    <ion-title *ngIf="newNote" >New Note</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="inputs">
    <div class="div-img" align="center">
      <img class="img-camera" *ngIf="note.note_image_url" src="{{ note.note_image_url }}"> 
    </div>
  <ion-item>
    <ion-input placeholder="Title" clearInput [(ngModel)]="note.note_title"></ion-input>
  </ion-item>
  <ion-textarea placeholder="Note" rows="34"  name="new-note" class="textarea-note" [(ngModel)]="note.note_content"> 
    </ion-textarea>
  </div>

  <ion-fab class="n-note">
    <button ion-fab mini>
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
    <ion-fab-list side="right">
      <button ion-fab (click)="takeImage()"><ion-icon name="image"></ion-icon></button>
      <button ion-fab><ion-icon name="create"></ion-icon></button>
      <button ion-fab (click)="takePhoto()"><ion-icon name="camera"></ion-icon></button>
      <button ion-fab *ngIf="!newNote" (click)="deleteAlert()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-fab-list> 
  </ion-fab>
  <ion-footer>
      <ion-toolbar>
        <ion-title *ngIf="note.updated_at" >Updated at: {{ note.updated_at }}</ion-title>
      </ion-toolbar>
    </ion-footer>
</ion-content>



