page-note {
    .n-icon{   
        background: black;
    }
    .textarea-note{
        resize: none;
    }
    .tools{
        position: absolute;
        transform: translate(-5%, 400%);
    }
    .button{
        background-color:transparent;
        color:black;
    }
    .n-note{
        position: absolute;
        transform: translate(10%, 942%);
    }
    .fab-delete{
        position: absolute;
        transform: translate(510%, 660%);
    }
    .save-btn{
        background-color: black;
        color: white;
        transform: translate(19%, 12%);
        width: 207px;
    }
}



