page-note {
    .n-icon{   
        background: black;
    }
    .textarea-note{
        resize: none;
    }
    .tools{
        position: absolute;
        transform: translate(-5%, 400%);
    }
    .button{
        background-color:transparent;
        color:black;
    }
    .n-note{
        position: absolute;
        transform: translate(10%, 900%);
    }
    .fab-delete{
        position: absolute;
        transform: translate(510%, 660%);
    }
    .save-btn{
        background-color: black;
        color: white;
        transform: translate(19%, 12%);
        width: 207px;
    }
    .img-camera{
        width: 98%;
        height: 380px;

    }
    .div-img {
        width: 353px;
        position: relative;
        left: -15px;
        top: -14px;
    }
    ion-item.item.item-block.item-md.item-input {
        position: relative;
        left: -25px;
        width: 358px;
    }
    textarea.text-input.text-input-md {
        position: relative;
        left: -18px;
    }
}



